body {
  background-color: var(--bg-color);
  width: 100%;
  overflow-x: hidden;
}

#categorie-container {
  display: grid;
  column-gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(7, 1fr);
  width: max-content;
  justify-items: center;
}

nav ul {
  display: flex;
  padding: 5px 15px 5px 5px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

nav li {
  width: max-content;
}

.search-child {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  align-items: center;
  padding: 12px;
  border-radius: 7px;
  border: 1px solid var(--grey);
  width: fit-content;
}

nav input {
  border: none;
  background-color: transparent;
  font-size: 16px;
  max-width: 180px;
}

nav input[placeholder] {
  color: #e0e0e0;
  font-family: var(--poppins-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}

nav input:focus {
  outline: none;
}

.underline {
  text-decoration: underline;
}

.app-container {
  max-width: 1640px;
  margin: 0 auto;
  padding: 27px 10px;
  position: relative;
}

.video-home {
  width: 100%;
  aspect-ratio: 16 /9;
  position: absolute;
  z-index: -2;
}

.fullscreen {
  z-index: 10;
}

.video-home iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.movie-container {
  margin-top: 20px;
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: var(--grey-grandiant);
  transform: rotate(180deg);
  z-index: -1;
}

#movie-categorie {
  color: var(--green);
  font-size: 18px;
}

#likes,
#dislikes {
  color: var(--white-500);
}

.rate {
  display: flex;
  align-items: center;
  gap: 7px;
}

.top-info {
  display: flex;
  align-items: center;
  gap: 35px;
  flex-wrap: wrap;
}

.separator {
  background-color: var(--white-500);
  height: 1px;
  width: 100%;
}

.play-button {
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 99999px;
  background: var(--white-500);
  width: fit-content;
  cursor: pointer;
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.action-button {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1190px;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 175px;
  row-gap: 20px;
}

/* Swiper CSS corrections */
.swiper-wrapper {
  display: flex;
  transition-timing-function: ease;
}

.swiper-slide {
  flex-shrink: 0;
  width: calc(
    (100% - (4 * 30px)) / 5
  ); /* 5 slides par vue avec 30px entre eux */
  height: auto;
}

.movies-slider {
  width: 100%;
  overflow: hidden; /* Empêche tout débordement */
  position: relative;
}

.slider-button {
  display: flex;
  width: 30px;
  height: 30px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  border: 1px solid var(--white-500);
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 15px;
  cursor: pointer;
  z-index: 2;
}

.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2; /* Place les boutons au-dessus des slides */
  right: 0;
}
.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2; /* Place les boutons au-dessus des slides */
  left: 0;
}

.card-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.card {
  width: 100%;
  aspect-ratio: 9/12;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.closeButton {
  width: 50px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  display: none;
  cursor: pointer;
}

.showButton {
  display: block;
}

.description {
  color: rgba(255, 255, 255, 0.7);
  max-width: 500px;
}

#author {
  color: white;
}

.edit-container {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 60vh;

  transform: translate(-50%, -50%);
  width: 80%;
  background-color: var(--bg-color);
  border-radius: 12px;
  display: flex;
}

.edit {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  z-index: 200;
  display: none;
}

.edit img {
  top: 15px;
  left: 15px;
  width: 30px;
  cursor: pointer;
}

.editShow {
  display: block;
}

.search-panel {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 100;
  display: flex;
  overflow: hidden;
}

#film-search-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 10px;
  max-width: 95%;
  margin: 35px auto;
}

#notFound {
  color: var(--white-500);
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 15px;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
}

#notFound > p {
  font-size: 24px;
}

.backHome {
  color: white;
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  font-size: 24px;
  cursor: pointer;
}

.sideSearch {
  width: 350px;
  animation: slideIn 250ms ease-in;

  background-color: var(--bg-color);
  border: 1px solid var(--white-500);
}

@keyframes slideIn {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(0);
  }
}

#cactegoryList,
#rateList {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  cursor: pointer;
}

.side-container {
  padding: 40px 10px;
}

.sidebarLists {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.sidebarLists li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.search-container {
  width: 100%;
}

nav {
  color: white;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.edit input,
.edit textarea,
.edit select {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  border: 1px solid var(--grey);
  padding: 12px;
  border-radius: 7px;
  border: 1px solid var(--grey);
  color: var(--white-500);
  font-family: var(--poppins-font);
}

.edit input[placeholder],
.edit textarea[placeholder] {
  color: #e0e0e0;
  font-family: var(--poppins-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}

.edit option {
  color: var(--poppins-font);
  background-color: var(--grey);
  font-family: var(--poppins-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}

.edit-list {
  color: var(--white-500);
  display: flex;
  flex-direction: column;
  gap: 30px;
  cursor: pointer;
}

.edit-sidebar {
  width: 250px;
  padding: 15px;
  border: 1px solid var(--white-500);
  border-radius: 12px;
}

#edit-title {
  color: var(--purple);
  font-family: var(--poppins-font);
  font-size: clamp(18px, 1.25vw, 24px);
  font-weight: 600;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px;
  border-bottom: 1px solid var(--white-500);
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px;
}

.form-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

textarea {
  height: 120px;
}
.form-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-family: var(--poppins-font);
  font-size: 16px;
  color: var(--white-500);
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.16px;
}

form select {
  width: 100%;
}

.form-rows {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.form-cols {
  display: flex;
  width: fit-content;
  flex-direction: column;
  gap: 5px;
}
.form-container,
.tab-content {
  width: 100%;
}
.required-star {
  color: var(--red);
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

#deleteMovie,
#addedMovie,
#added,
#updated,
#updateMovie,
#deleted {
  color: var(--green);
}

.message-container .show {
  animation: messageAppear 500ms ease-in;
  display: block;
}

.message-container {
  animation: messageAppear 500ms ease-in;
  display: none;
}

@keyframes messageAppear {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0);
  }
}
@media (max-width: 1333px) {
  #categorie-container {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 15px;
  }
  .action-button {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  #film-search-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1035px) {
  #categorie-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 15px;
  }
  nav input {
    width: 100px;
  }
  #film-search-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 910px) {
  #categorie-container {
    display: none;
  }
  .action-button {
    margin-top: 10px;
    margin-bottom: 50px;
  }
}

@media (max-width: 524px) {
  nav input {
    width: 30px;
  }
  .search-container {
    width: max-content;
  }
  .button-container {
    width: max-content;
  }
  .action-button {
    margin-top: 10px;
    margin-bottom: 50px;
  }
  #film-search-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
