@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "American Captain Patrius 02 FRE";
  src: url("/assets/fonts/AmericanCaptainPatrius02FRE.woff2") format("woff2"),
    url("/assets/fonts/AmericanCaptainPatrius02FRE.woff") format("woff"),
    url("/assets/fonts/AmericanCaptainPatrius02FRE.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --bg-color: #202020;
  --white-500: #fff;
  --white-300: #e0e0e0;
  --grey: #424242;
  --green: #00ac1c;
  --grey-grandiant: linear-gradient(180deg, #111 34%, rgba(17, 17, 17, 0) 100%);
  --poppins-font: "Poppins", serif;
  --america-font: "American Captain Patrius 02 FRE";
  --red: #FD2424;
}

.body-font-400 {
  font-family: var(--poppins-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.16px;
}

.body-font-500 {
  font-family: var(--poppins-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.16px;
}

.body-font-600 {
  font-family: var(--poppins-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.16px;
}

.headline1 {
  font-family: var(--america-font);
  font-size: clamp(30px, 2.9167vw, 56px);
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: -0.56px;
  color: white;
  max-width: 500px;
}

.main-button {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 7px;
  background: var(--green);
  color: white;
  cursor: pointer;
}

.delete-button {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 7px;
  background: var(--red);
  color: white;
  cursor: pointer;
}
